* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.2s ease-out;
}

a:hover {
    color: orange;
}

header {
    position: relative;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .profile_links{
    display: flex;
    gap: 1rem;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

#code-img, #dreamer{
    color: orange;
}


.navbar .links{
    display: flex;
    gap: 2rem;
    
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown_menu{
    display: none;
    position: absolute;
    right: 3rem;
    top: 60px;
    height: 0px;
    width: 260px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu a,
.links a{
    padding-bottom: 0.25rem;
    position: relative;
}

.dropdown_menu a::before,
.links a::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.25s ease-out;
}

.dropdown_menu a:hover::before,
.links a:hover::before{
    width: 100%;
}

.dropdown_menu.open{
    height: auto;
}

.dropdown_menu li{
    padding:  0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#welcome{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#welcome h1{
    font-size: 3rem;
    margin-bottom: 3rem;
}

#welcome p{
    max-width: 600px;
    margin-bottom: 2rem;
}

.companies {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: 5rem;
}

.secition_companies{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.companies_img{
    width: 200px;
    height: auto;
}

.companies .header{
    color: rgba(255, 166, 0, 0.61);
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.companies .subheader{
    color: #ffffffb3;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
}



/* --------------------------------------   RESPONSIVE DESING   ----------------------------- */

/* RESPONSIVE DESING  992px */
@media (max-width: 992px) {
    .navbar .logo a,
    .navbar .profile_links,
    .navbar .toggle_btn,
    .dropdown_menu a{
        font-size: 1rem;
    }

    .a{
        font-size: 0.75rem;
    }

    .navbar .links{
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

/* RESPONSIVE DESING 470px */
@media (max-width: 470px) {
    .navbar{
        padding-left: 20px;
        padding-right: 20px;
    }

    .dropdown_menu{
        right: 20px;
    }

    .navbar .logo a,
    .navbar .profile_links,
    .navbar .toggle_btn,
    .profile_links i,
    .dropdown_menu a{
        font-size: 0.9rem;
    }

    .a{
        font-size: 0.50rem;
    }
}

/* RESPONSIVE DESING 350px */
@media (max-width: 350px) {
    .navbar{
        padding-left: 15px;
        padding-right: 15px;
    }

    .dropdown_menu{
        right: 15px;
    }

    .navbar .logo a,
    .navbar .profile_links,
    .navbar .toggle_btn,
    .profile_links i,
    .dropdown_menu a{
        font-size: 0.8rem;
    }

    .a{
        font-size: 0.50rem;
    }
}



