<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/navbar.css">
    <title>My Web Application</title>
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <div class="navbar">
            <div class="logo"><a href="#"><i id="code-img" class="fa-solid fa-code"></i>  Coder<span id="dreamer">Dreamer</span></a></div>
            <div class="profile_links">
                <a href="">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-medium"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                
            </div>
            <ul class="links">
                <li><a href="home">Ana Sayfa</a></li>
                <li><a href="about">Hakkında</a></li>
                <li><a href="projects">Projeler</a></li>
                <li><a href="articles">Makaleler</a></li>
            </ul>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="/templates/home.html">Ana Sayfa</a></li>
            <li><a href="about">Hakkında</a></li>
            <li><a href="projects">Projeler</a></li>
            <li><a href="articles">Makaleler</a></li>
        </div>
    </header>
    <main>
        <section id="welcome">
            <h1>Welcome My Blog</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, 
                exercitationem impedit? Impedit aperiam odit expedita quia 
                asperiores itaque dolores, perspiciatis, dolorum neque maxime eius excepturi,
                officia quod in harum suscipit.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, 
                eaque. Quam sit, natus architecto itaque quos fugit aspernatur atque libero consequatur 
                non a adipisci pariatur vero numquam eum! Hic, corporis.
            </p>

            <div class="companies">
                <div class="secition_companies">
                    <li class="header">Piton Arge ve Yazılım Evi</li>
                    <div class="subheader">Akıllı Ulaşım Sistemleri</div>
                    <!-- <img class="companies_img" src="../static/assets/intelligent_transport.png" alt=""> -->
                </div>
                <div class="secition_companies">
                    <li class="header">Parkolay</li>
                    <div class="subheader">Otomatik Katlı Otopark Sistemleri</div>
                    <!-- <img class="companies_img" src="../static/assets/otopark.png" alt=""> -->
                </div>
                <div class="secition_companies">
                    <li class="header">Aspower</li>
                    <div class="subheader">Elektrikli Araç Şarj İstasyonu Sistemleri</div>
                    <!-- <img class="companies_img" src="../static/assets/chargingstation.png" alt=""> -->
                </div>
                <div class="secition_companies">
                    <li class="header">DNS İnovasyon</li>
                    <div class="subheader">Depozito Yönetim Sistemi</div>
                    <!-- <img style="width: 100px;" class="companies_img" src="../static/assets/dbys.png" alt=""> -->
                </div>
                
            </div>
        </section>
    </main>
    <script src="../static/navbar.js"></script>
</body>
</html>