<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/navbar.css">
    <title>Document</title>
</head>
<body>
    <header>
        <!-- Navbar -->
        <div class="navbar">
            <div class="logo"><a href="#"><i id="code-img" class="fa-solid fa-code"></i>  Coder<span id="dreamer">Dreamer</span></a></div>
            <div class="profile_links">
                <a href="">
                    <i class="fa-brands fa-github"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-medium"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                
            </div>
            <ul class="links">
                <li><a href="/" >Ana Sayfa</a></li>
                <li><a href="/about">Hakkında</a></li>
                <li><a href="/projects">Projeler</a></li>
                <li><a href="/articles">Makaleler</a></li>
            </ul>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="about">Hakkında</a></li>
            <li><a href="projects">Projeler</a></li>
            <li><a href="articles">Makaleler</a></li>
        </div>
    </header>
    


    <script src="../static/navbar.js"></script>
</body>
</html>